<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my web</title>

    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='img/HB.ico') }}">
</head>
<body>
    <h1>Chào mừng đến với trang web của tôi</h1>
    <div class="my_img">
        <img src="./static/img/2.jpeg" alt="my" style="width: 100%; height: auto;">
    </div>
    
</body>
</html>